body{
  min-width: 500px;
}
.App{
  width: 500px;
  margin: 0 auto;
}
.Menu,.Game,.End{
  height: 500px;
  background-color:lightseagreen;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.Menu input{
  font-size: 18px;
  margin-bottom: 1rem;
}
.Menu button,.Game button,.End button{
  margin-bottom: 1rem;
  padding: 10px;
  width: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius:10px;
  transition: background-color 0.25s;
}
.active{
  background-color:orangered
}
.Menu button:hover,.Game button:hover,.End button:hover{
  background-color:aqua
}
.Rezult{
  background-color:rgb(32, 90, 178);
  border-radius:10px;
  padding: 10px;
  margin: 1rem auto}